<div class="container">
  <h1 class="main-title"> <%=  @robot.name %> </h1>
  <div class="robot-info">
   <p class="robot-category"><%= @robot.category %></p>
   <p class="robot-price"><%= @robot.price_per_day %></p>
  </div>
  <div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
    <div class="container">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="owner-info">
     <div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>
    </div>
  </div>
</div>
