<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://source.unsplash.com/OYzbqk2y26c/1600x900);">
  <div class="container">
    <h1>Change your life.</h1>
    <p><strong>Rent a Robot.</strong></p>
    <a class="btn btn-light m-3" href="#">Browse Robots</a>
  </div>
</div>
