<div class="footer">
  <div class="footer-links">
    <a href="https://github.com"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/iRobotMovie/"><i class="fab fa-facebook"></i></a>
    <a href="https://techcrunch.com/2021/08/19/musk-the-tesla-bot-is-coming/?tpcc=ECTW2020&guccounter=1&guce_referrer=aHR0cHM6Ly90LmNvLwguce_referrer_sig=AQAAANiXpKcx6c7FHEI6ENHlCAwLVRD2hLruFJY0SmxavzKfgbZEFKphYZUPoFkIxxRt9LQEVRRCiaCcE5yRIrr9N5mgL2zutYOEus9lV-9KEqvHDDOj6WisGuIDCQ-3wfX70vSYNK316VGzDBBRz0BqIrbrSaFkwyhehE1uzBvs-dnM"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    Mannequin 2020
  </div>
</div>
