<!-- [...] -->
<div class="row">
  <div class="col-md-11">
    <%= form_tag robots_path, method: :get, class: "form-inline" do %>
    <%= select_tag :category, options_for_select(Robot::ROBOT_CATEGORIES), class: "w-25" %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a robot!",
    collection: Robot::ROBOT_CATEGORIES
  %>
  </div>
  <div class="col-md-1">
    <%= submit_tag "Search", class: "btn btn-primary search-button" %>
    <% end %>
  </div>
</div>
<!-- the list of movies -->

<%# add another input tag for categories %>
<%# name field :category %>
