.navbar {
  justify-content: space-between;
  // background: #b1b1b1;
  height: 75px;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 50px;
}

.nav-link {
  font-size: 18px;
}

.main {
  position: relative;
}

// #666C71
