.navbar-light {
  justify-content: space-between;
  background: rgb(120, 121, 128);
  height: 90px;
}

.navbar-home {
  justify-content: space-between;
  height: 90px;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 50px;
}

.nav-link {
  font-size: 18px;
}
